[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TuanWorkMail
[access "refs/for/refs/*"]
	read = group user/TuanWorkMail
	push = group user/TuanWorkMail
	label-Code-Review = -2..+2 group user/TuanWorkMail
	label-Verified = -1..+1 group user/TuanWorkMail
	rebase = group user/TuanWorkMail
	removeReviewer = group user/TuanWorkMail
	submit = group user/TuanWorkMail
[access "refs/heads/*"]
	read = group user/TuanWorkMail
	create = group user/TuanWorkMail
	push = +force group user/TuanWorkMail
	pushMerge = group user/TuanWorkMail
[access "refs/tags/*"]
	push = group user/TuanWorkMail
	push = +force group user/TuanWorkMail
